html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  color: hsl(240, 38%, 20%);
  font-size: 1.2rem;
  margin: 20px 0 0;
}

img {
  max-width: 100%;
}
.shadow {
  box-shadow: 10px 10px 41px 5px rgba(0, 0, 0, 0.35);
}

/******************* grid container ********************/
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 0px 0px;
  width: auto;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
/****************** background pattern  ********************/
.pattern-bg {
  grid-area: 1 / 1 / 7 / 7;
}

.pattern-quotes {
  grid-area: 7 / 3 / 9 / 5;
}

/************************ slide ****************************/
.slideshow-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 0px 0px;
  grid-area: 1 / 1 / 13 / 7;
}
.mySlides {
  grid-area: 1 / 1 / 17 / 7;
  display: none;
}
.profile-img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-area: 2 / 2 / 7 / 6;
  border-radius: 20px;
  width: 80%;
  margin: 8% auto 0;
}
.pn-buttons {
  grid-area: 6 / 2 / 8 / 6;
  background-color: white;
  height: 35px;
  width: 100%;
  max-width: 70px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px 0;
  margin: -15px auto;
  z-index: 3;
  position: relative;
}

.pn-buttons img {
  padding: 8px 5px 6px;
  cursor: pointer;
}
.content-box {
  grid-area: 11 / 1 / 16 / 7;
  margin: 30% 10%;
}
.content-box p{
  font-weight: 300;
}
.info {
  color: hsl(240, 18%, 77%);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/****************** footer  ********************/

.attribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.pattern-curve {
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -3;
}

/**************************** media query ************************/
@media (min-width: 960px) {
  .grid-container {
    display: unset;
  }
  .pattern-bg img {
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: -3;
  }
  .slideshow-container {
    display: unset;
  }
  .profile-img {
    max-width: 400px;
    position: absolute;
    left: 53%;
  }
  .pattern-quotes img {
    position: absolute;
    top: 10rem;
    left: 20%;
    z-index: -3;
  }
  .content-box {
    font-size: 32px;
    position: absolute;
    max-width: 650px;
    text-align: left;
    top: -13rem;
  }
  .id-info {
    font-size: 23px;
    display: flex;
  }
  .info {
    margin-left: 20px;
  }
  .pn-buttons {
    position: absolute;
    left: 55%; top: 31.4rem;
  }
}
